.vscode/
.idea/
build/
cmake-build-debug/
hdisk/
a.out
hd.img
kernel.o
kernel.efi
test.c
test.s
*.o
scripts/
.*
Image
asm-offsets.s
bounds.s
version.h
System.map
vmlinux
vmlinux.lds
Module.symvers
include/config
include/generated
